<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Css Sprites Generator" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background: #ebbe4d">
    <div id="game_play_area">

              <div id="player-tables" class="mx-auto w-[900px]">
                <!-- 1st Row -->
                <div class="grid grid-cols-7 gap-2 mb-5">
                  <div class="w-[120px] items-center justify-center"></div>
                  <div class="w-[120px] items-center justify-center"></div>
                  <div id="warehouse-1" class="resource w-[248px] h-[163px] bg-gray-200 col-span-2 items-center justify-center"></div>
                  <div class="w-40 items-center justify-center pt-2">
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                    <div class="yellow cube w-8 h-8 float-left"></div>
                  </div>
                  <div class="w-[120px] items-center justify-center"></div>
                </div>

                <!-- 2nd Row -->
                <div class="grid grid-cols-7 gap-2 mb-2">
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                </div>

                <!-- 3rd Row -->
                <div class="grid grid-cols-7 gap-2 mb-5">
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                  <div class="street resource w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
                </div>

                <!-- 4th Row -->
                <div class="grid grid-cols-7 gap-2 mb-5">
                  <div class="items-center justify-center"></div>
                  <div class="event w-[120px] items-center justify-center"></div>
                  <div id="scores-goals-rest" class="resource w-[468px] h-[156px] bg-gray-200 items-center justify-center">
                    <div class="yellow cube w-8 h-8 relative"></div>
                    <div class="blue cube w-8 h-8 relative bottom-0"></div>
                  </div>
                </div>

                <!-- 5th Row -->
                <div class="grid grid-cols-7 gap-2 mb-5">
                  <div class="w-[120px] items-center justify-center"></div>
                  <div class="w-[120px] items-center justify-center"></div>
                  <div id="warehouse-2" class="resource w-[248px] h-[163px] bg-gray-200 col-span-2 items-center justify-center"></div>
                  <div class="w-40 items-center justify-center pt-2">
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                    <div class="blue cube w-8 h-8 float-left"></div>
                  </div>
                  <div class="w-[120px] items-center justify-center"></div>
                </div>

                <!-- dice area -->
                <div class="dice-area">
                </div>
              </div>

    </div>
    <%= yield %>
  </body>
</html>
