<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Css Sprites Generator" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="card street-01"></div>
    <div class="card street-02"></div>
    <div class="card street-03"></div>
    <div class="card street-04"></div>
    <div class="card street-05"></div>
    <div class="card street-06"></div>
    <div class="card street-07"></div>
    <div class="card street-08"></div>
    <div class="card street-09"></div>
    <div class="card street-10"></div>
    <div class="card street-11"></div>
    <div class="card street-12"></div>
    <div class="card street-13"></div>
    <div class="card street-14"></div>
    <div class="card event-1908"></div>
    <div class="card event-1920"></div>
    <div class="card event-1923"></div>
    <div class="card event-1931"></div>
    <div class="card event-1945"></div>
    <div class="card event-1947"></div>
    <div style="clear:both"></div>
    <div class="tapped-card warehouse"></div>
    <div class="tapped-card rest"></div>
    <div class="tapped-card goals"></div>
    <%= yield %>
  </body>
</html>
