<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Css Sprites Generator" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="game_play_area">
      <div id="player-tables" class="mx-auto w-[900px]">
        <!-- 1st Row -->
        <div class="flex justify-center gap-2 mb-5">
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div id="warehouse-1" class="resource tapped w-[248px] h-[163px] bg-gray-200 items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
        </div>

        <!-- 2nd Row -->
        <div class="grid grid-cols-7 gap-2 mb-2">
          <div id="street-1" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-2" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-3" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-4" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-5" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-6" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-7" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
        </div>

        <!-- 3rd Row -->
        <div class="grid grid-cols-7 gap-2 mb-5">
          <div id="street-8" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-9" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-10" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-11" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-12" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-13" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
          <div id="street-14" class="resource card w-[120px] h-[182px] bg-gray-200 items-center justify-center"></div>
        </div>

        <!-- 4th Row -->
        <div class="grid mb-5">
          <div id="scores-goals-rest" class="resource h-[338px] bg-gray-200 items-center justify-center"></div>
        </div>

        <!-- 5th Row -->
        <div class="flex justify-center gap-2">
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div id="warehouse-2" class="resource tapped w-[248px] h-[163px] bg-gray-200 items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
          <div class="w-[120px] flex items-center justify-center"></div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
